*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.container {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1{
    margin-bottom: 20px;
    font-size: 24px;
    background: none;
}
.input-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

input[type= "text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    outline: none;
    background-color: #333333;
    border: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #b5058963;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #ff5733;
}
.weather-info {
    margin-top: 20px;
}
.hidden {
    display: none;
}

#error-message {
    color: #ff4c4c;
    margin-top: 10px;
}
